.results {
  margin: 0 auto;
  // max-width: 800px;
  ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    @media (max-width: 1280px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }


    li {
      padding: 10px;
      border-radius: 5px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      img {
        width: 100%;
      }

      p {
        margin: 10px 0;
      }

      button {
        cursor: pointer;
        margin: 0 auto;
        background: none;
        border-radius: 3px;
        border: none;
        border: 2px solid black;
        padding: 5px 10px;
        transition: 0.3s ease-in-out;
        font-size: 0.9rem;
        text-transform: uppercase;
        &:hover,
        &:focus {
          transform: scale(1.05);
        }

        &.disabled {
          cursor: not-allowed;
        }
      }

      &.selected {
        background-color: black;
        color: white;
        

        button {
          color: white;
          background-color:#212326;
          border: 2px solid white;
          &.disabled {
            cursor: pointer;
          }
        }
      }
    }
  }

  .no-results {
    grid-column: 1 / 9;
    p {
      color: white;
      font-size: 2rem;
    }
  }
}