.search {

  form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      margin: 0 30px;
    }
    
    label {
      color: white;
    }
  
    input {
      width: 30%;
      padding: 15px;
      border-radius: 5px;
      margin: 0 20px;
      @media (max-width: 768px) {
        width: 80%;
        margin: 0 auto;
      }
    }
  
    button {
      background: #212326;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1.2rem;
      transition: 0.3s ease-in-out;
      @media (max-width: 768px) {
        width: 80%;
        margin: 0 auto;
      }

      i {
        padding-right: 10px;
      }
      &:hover,
      &:focus {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }

  .instructions {
    color: white;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 0 30px;
    font-size: 1.2rem;
    span {
      text-decoration: underline;
    }
  }
  
  .results-noms {
    margin: 50px;
  }
  
  .movie-count,
  .submit-noms {
    text-align: center;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;

    span {
      color: rgb(53, 2, 134);
      font-size: 2rem;
      margin-left: 10px;
    }
  }

  .movie-count {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .submit-noms {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }

    .submit-noms-btn {
      padding: 10px 20px;
      margin-left: 20px;
      background-color: #008060;
      border-radius: 3px;
      border: none;
      border: 2px solid #212326;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.86px;
      font-weight: bold;
      transition: 0.3s ease-in-out;
      &:hover,
      &:focus {
        cursor: pointer;
        opacity: 0.9;
        transform: scale(1.05);
      }
    }
  }
}
